backports.ssl-match-hostname==3.5.0.1
click==6.6
docker-py==1.10.6
docker-pycreds==0.2.1
eventlet==0.19.0
Flask==0.11.1
Flask-Login==0.4.0
Flask-SocketIO==2.7.2
greenlet==0.4.10
gunicorn==19.6.0
ipaddress==1.0.17
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
psutil==5.0.0
python-engineio==1.0.3
python-socketio==1.6.0
requests==2.11.1
six==1.10.0
websocket-client==0.37.0
Werkzeug==0.11.11
