{% set socket=True %}
{% set login=False %}
{% extends "layout.html" %}
{% block title %}Index{% endblock %}


{% block body %}
<div class="card-pf">
  <h2 class="card-pf-title">
    Docker
  </h2>
  <div class="card-pf-body">
    <form class="form-horizontal" role="form" method="POST" action="#">
  <div class="form-group">
    <label class="col-sm-2 control-label" for="dockerimage">Docker Image</label>
    <div class="col-sm-10">
      <input type="text" id="dockerimage" name="dockerimage" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="dockerrun">Docker Run</label>
    <div class="col-sm-10">
      <input type="text" id="dockerrun" name="dockerrun" class="form-control"></div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Primary Action</button>
    </div>
  </div>
</form>
    <div class="progress-description">
  <div class="spinner spinner-xs spinner-inline"></div> <strong>Downloading:</strong>  Product Repositories
</div>
<div class="progress progress-label-top-right">
  <div class="progress-bar" role="progressbar" id="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
    <span>42.7% (35 of 82MB)</span>
  </div>
</div>
  </div>
    </div>

<div id="log"></div>
{% endblock %}